@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Sansita+Swashed:wght@400;700&display=swap');

// Colors
$c-blue: #81ECEC;
$c-pink: #FAB1A0;
$c-danger: #d63031;

$c-dark: #2F2E41;
$c-light: #e6e6e6; 
$c-white: #fff;

// Fonts
$font-sansita: 'Sansita Swashed', cursive;
$font-regular: 'Roboto', sans-serif;

