.line-break {
    display: block;
}

.mt-xs {margin-top: 1.5rem;}
.mt-sm {margin-top: 3rem;}
.mt-md {margin-top: 5rem;}
.mt-lg {margin-top: 7rem;}

.mb-xs {margin-bottom: 1.5rem;}
.mb-sm {margin-bottom: 3rem;}
.mb-md {margin-bottom: 5rem;}
.mb-lg {margin-bottom: 7rem;}

.my-xs {margin-bottom: 1.5rem; margin-top: 1.5rem;}
.my-sm {margin-bottom: 3rem; margin-top: 3rem;}
.my-md {margin-bottom: 5rem; margin-top: 5rem;}
.my-lg {margin-bottom: 7rem; margin-top: 7rem;}