.home {
    &__wraper {
        display: flex;
        justify-content: space-between;
        margin: 5rem 0; 

        
        @include respond(tab-land){
            padding: 2rem;
        }
        
        @include respond(tab-port){
            margin: 3rem 0;
        }
        
        @include respond(phone){
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            align-items: center;
            justify-items: center;
        }
    }
}