.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // width: 25rem;
    overflow: hidden;

    transition: all .2s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 10px rgba($c-dark, .4);
    }

    &__title {
        font-family: $font-sansita;
        font-size: 2rem;
        margin-top: 2rem;
        text-transform: capitalize;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__price {
        margin: 1rem;
        // padding: 1rem;
        font-size: 2rem;
        font-weight: 700;
        background-color: $c-blue;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-white;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__notification {
        background: linear-gradient(rgba($c-pink, .9), rgba($c-pink, .9));
        color: $c-white;
        font-size: 2rem;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-sansita;
        transition: all .2s;
        transform: translateY(-100%);

        &--active {
            transform: translateY(0);
        }
    }   
}