.footer {
    background-color: $c-dark;
    color: $c-white;
    padding: 3rem 2rem;

    @include respond(phone-lg){
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone-lg){
            display: flex;
            flex-direction: column;
            align-items: center;

            & > * {
                margin-bottom: 1rem;
            }
        }
    }

    &__nav{
        display: flex;
        align-items: center;

        &__logo{
            font-family: $font-sansita;
            font-size: 2.5rem;
            margin-right: 1rem;
            transform: translateY(-5px);

            @include respond(phone-lg){
                font-size: 2.2rem;
            }
        }   

        &__list{
            display: flex;
            align-items: center;
        }

        &__item {
            padding: .3rem 1.2rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            transition: all .2s;
            cursor: pointer;
            margin-left: .5rem;
            backface-visibility: hidden;

            @include respond(phone-lg){
                font-size: 1.3rem;
                padding: .2rem .8rem;
            }

            &:hover {
                transform: scale(1.1) rotate(-5deg);
                background-color: $c-blue;
                color: $c-dark;
            }
        }
    }

    &__social {

        &__icon {
            margin-left: 1rem;
            transition: all .2s;
            cursor: pointer;

            @include respond(phone-lg){
                height: 2.5rem;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .copyrights{
        text-align: center;

        span {
            color: $c-blue;
        }
    }

}