.nav {
    padding: 1.5rem 0;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 50;
    // background: $c-white;
    // width: 100%;
    // box-shadow: 0 5px 10px rgba($c-dark, .2);

    @include respond(tab-land) {
        padding: 1rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include respond(phone-lg) {
            height: 0;
            display: none;
        }
        
        &--active{
            @include respond(phone-lg) {
    
                height: 80%;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right bottom, $c-blue, $c-pink);
                flex-direction: column;
                z-index: 100;
                justify-content: center;
                display: flex;
                overflow: hidden;
                
                & > *:not(:last-child) {
                    margin-bottom: 3rem;
                }
        }
       
        }
    }

    &__logo {
        font-family: $font-sansita;
        font-size: 3.5rem;

        @include respond(phone-lg) {
            font-size: 2.5rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        margin-left: auto;
        align-items: center;

        @include respond(phone-lg) {
            margin: 0;
            flex-direction: column;

            & > *:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }   

    &__item {
        // display: inline-block;
        margin-left: 2rem;
        text-transform: uppercase;
        font-size: 2rem;
        cursor: pointer;
        backface-visibility: hidden;

        @include respond(phone-lg) {
            font-size: 2.2rem;
            color: $c-white;
        }
        
        &:hover.nav__item::after {
            width: 100%;
        }

        &::after {
            display: block;
            width: 100%;
            height: 3px;
            background-color: $c-dark;
            content: '';
            width: 0;
            transition: all .3s;
            margin: 0 auto;
            backface-visibility: hidden;
        }
        


    }

    &__user {
        color: $c-blue;
        font-size: 2.2rem;
        margin-left: 1rem;
        position: relative;
        display: flex;
        align-items: center;

        i {
            cursor: pointer;
        }

        i:hover + &--email {
            opacity: 1;
            visibility: visible;
            transition: all .2s;
        }

        &--email {
            position: absolute;
            font-style: italic;
            background-color: $c-blue;
            padding: .5rem 1rem;
            font-size: 1.2rem;
            color: $c-white;
            bottom: -6rem;
            border-radius: 3px;
            opacity: 0;
            visibility: hidden;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                background-color: $c-blue;
                transform: rotate(45deg) translateY(-50%);
                top: 0;
                left: 0;
            }
        }
    }

    &__cart{
            font-size: 3rem;
            color: $c-pink;
            position: relative;
            margin-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;

            &__number {
                color: $c-dark;
                font-size: 1.5rem;
                background-color: $c-blue;
                // border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                border-radius: 50px;
                font-weight: 700;
                font-family: $font-sansita;
                position: absolute;
                top: 0;
                right: 0rem;
                color: $c-white;
            }

            &:hover {
                color: rgba($c-pink, .8);
            }
    }
}

.menu {
    width: 40px;
    height: 35px;
    position: relative;
    // margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    z-index: 101;

    @include respond(phone-lg) {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $c-dark;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0px;
      }
      
      span:nth-child(2) {
        top: 14px;
      }
      
      span:nth-child(3) {
        top: 28px;
      }

      
    &.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  
  &.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  &.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }
      
}
