.message {
    font-size: 1.6rem;
    padding: .5rem;
    text-align: center;
    background-color: $c-white;
    width: 100%;
    margin: 1rem 0;    

    &--info {
       background-color: $c-white;
       color: $c-dark; 
    }

    &--good {
        background-color: $c-good;
        color: $c-white;
    }

    &--danger {
        background-color: $c-danger;
        color: $c-white;
    }
}